---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1> Welcome to my PhD thesis' digital appendix! </h1>
  <p>
    The digital appendix to my PhD thesis contains interactive supplementary material and multimedia to support the main figures in the thesis. Interactive plots aim to make some of the more data-dense figures easier to parse by providing an interactive interface to explore the data, while supplementary videos add a little more context to the otherwise static figures in the thesis.
  </p>

  <p> 
    Interactive figures are known to work in Safari v16.0+, Chrome 113.0+, and Firefox 112.0+. Please make sure that JavaScript is enabled in your browser. Your mileage may vary with other browsers and on mobile.
  </p>

  {%- if site.chapters.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Contents" }}</h2>
    <ul class="post-list">
      {%- for chapter in site.chapters -%}
      <li>
        <h3>
          <a class="post-link" href="{{ chapter.url | relative_url }}">
            {{ chapter.title | escape }}
          </a>
        </h3>
        <p>{{ chapter.description | markdownify }}</p>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
